# Numpy Practice 
In this notebook we will perform operations on numpy ndarray .
This practice session is based on Python for Data Analystic book which covers some basic numpy commands 
In this notebook we will demonstrate our skill for the following outline :
1. Creating Numpy ndarray
2. Manipulating Numpy ndarray
3. Using numpy  package modules

For markdown syntax wIe have used the  [guide](https://www.markdownguide.org/basic-syntax/) . 
For reference I have used the book and official [docs](https://numpy.org/doc/stable/) .

![Numpy](numpypng.png)

# Creating Numpy ndarray

In [10]:
# importing numpy module
import numpy as np

## Creating numpy ndarray from python objects
1. list
2. tuple
3. dictionary

In [14]:
# List
l1=[1,2,3,4,5,6]
ar=np.array(l1)
ar

array([1, 2, 3, 4, 5, 6])

In [16]:
l2=[[1,2,3],[4,5,6,],[7,8,9]]
ar=np.array(l2)
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
# tuple
t1=(1,2,3,4,5,6)
ar=np.array(t1)
ar

array([1, 2, 3, 4, 5, 6])

In [22]:
t2=((1,2,3),(4,5,6))
ar=np.array(t2)
ar

array([[1, 2, 3],
       [4, 5, 6]])

In [24]:
# dict
d1={1:"Hello",2:"Hi",3:"H"}
ar=np.array(d1)
ar

array({1: 'Hello', 2: 'Hi', 3: 'H'}, dtype=object)

### So we can create array based on the python objects now  lets shift our focus to pandas series and dataframe

In [27]:
# importing pandas
import pandas as pd

### Creating ndarray through pandas series

In [32]:
# I have created a series from list then through that list I have created np array
series=pd.Series([1,2,3,4,5,6])
ar=np.array(series)
ar

array([1, 2, 3, 4, 5, 6], dtype=int64)

### Creating ndarray through pandas Dataframe

In [37]:
#I have created a dataframe from the previously created list smartly through the use of zip function then through dataframe
# I have created a numpy array.

df=pd.DataFrame(dict(zip(l1,l2)))
print(df)
ar=np.array(df)
ar

   1  2  3
0  1  4  7
1  2  5  8
2  3  6  9

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]], dtype=int64)

### So we can create ndarray from pandas dataframe and Series now we will focus on methods like `np.ones` and `np.zeros`

In [73]:
np.ones(10),np.zeros(10)
## np.ones and np.zeros takes shape and create nd array of given shape

(array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]))

# Manipulating ndarray
Now we will start manipulating ndarray through different operations .

#### We will start with some basics like   `np.shape` and `np.dtype` to get to know the shape and dtype of array

In [54]:
ar.shape ,ar.dtype

((3, 3), dtype('int64'))

Since we are covering topics from the book simultaneously there is a magic method discussed which is `%time`

In [59]:
%time
ar.shape

CPU times: total: 0 ns
Wall time: 0 ns

(3, 3)

`%time ` is used to tell the time of the operation

In [66]:
%timeit ar

15.7 ns ± 0.308 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

`%timeit` is used to  automatically determines the execution time of the following one-line Python statement

In [83]:
print(ar.dtype)
ar=ar.astype(np.float32,)
print(ar.dtype)
ar

float32
float32

array([[1., 4., 7.],
       [2., 5., 8.],
       [3., 6., 9.]], dtype=float32)

#### The array.astype() changes dtype of the array

### Arithmetic With ndarray (Vectorization)

In [103]:
ar=np.array([i//3 for i in range (0,30)])
ar2=np.array([i//9 for i in range(0,30)])
add=ar+ar2
sub=ar-ar2
mul=ar*ar2
div=ar/ar2
power=ar**ar2
print(f" arrays : {ar} ,{ar2} \n Addition : {add} \n Subtraction : {sub} \n Multiplication : {mul} \n divide : {div} \n pow :{power} \n")

 arrays : [0 0 0 1 1 1 2 2 2 3 3 3 4 4 4 5 5 5 6 6 6 7 7 7 8 8 8 9 9 9] ,[0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 3 3 3]
 Addition : [ 0  0  0  1  1  1  2  2  2  4  4  4  5  5  5  6  6  6  8  8  8  9  9  9
 10 10 10 12 12 12]
 Subtraction : [0 0 0 1 1 1 2 2 2 2 2 2 3 3 3 4 4 4 4 4 4 5 5 5 6 6 6 6 6 6]
 Multiplication : [ 0  0  0  0  0  0  0  0  0  3  3  3  4  4  4  5  5  5 12 12 12 14 14 14
 16 16 16 27 27 27]
 divide : [nan nan nan inf inf inf inf inf inf 3.  3.  3.  4.  4.  4.  5.  5.  5.
 3.  3.  3.  3.5 3.5 3.5 4.  4.  4.  3.  3.  3. ]
 pow :[  1   1   1   1   1   1   1   1   1   3   3   3   4   4   4   5   5   5
  36  36  36  49  49  49  64  64  64 729 729 729]

C:\Users\Dixit\AppData\Local\Temp\ipykernel_11844\400229439.py:6: RuntimeWarning: divide by zero encountered in divide
  div=ar/ar2
C:\Users\Dixit\AppData\Local\Temp\ipykernel_11844\400229439.py:6: RuntimeWarning: invalid value encountered in divide
  div=ar/ar2

## Slicing and Indexing
### Slicing
1. Slicing 1d array
2. Slicing 2d array
3. Slicing 3d array
--- 
### Indexing
1. Indexing 1d array
2. Indexing 2d array
3. Indexing 3d array

So now ,Lets start with Slicing
then we will focus on Indexing.

In [108]:
# 1d array
ar=np.array(l1)
ar

array([1, 2, 3, 4, 5, 6])

In [118]:
# Slicing 1d array
print(ar[:5])
print(ar[1:5])
print(ar[1:])
print(ar[:3])

[1 2 3 4 5]
[2 3 4 5]
[2 3 4 5 6]
[1 2 3]

In [138]:
# 2d array
ar=np.array([[1,2,3],[7,8,9],[4,5,6]])
print(ar[:3,:1])
print(ar[:1])
print(ar[2:])
print(ar[:,:2])
print(ar[2,:2])

[[1]
 [7]
 [4]]
[[1 2 3]]
[[4 5 6]]
[[1 2]
 [7 8]
 [4 5]]
[4 5]

In [144]:
#3d array
ar=np.array([[[4,5,6],[1,2,3]],[[5,5,5],[6,7,8]]])
print(ar[:3,:1])
print(ar[:1])
print(ar[1:])
print(ar[:,:1])
print(ar[1,:1])

[[[4 5 6]]

 [[5 5 5]]]
[[[4 5 6]
  [1 2 3]]]
[[[5 5 5]
  [6 7 8]]]
[[[4 5 6]]

 [[5 5 5]]]
[[5 5 5]]

## Indexing

In [147]:
# 1d array
ar=np.array(l1)
ar

array([1, 2, 3, 4, 5, 6])

In [149]:
ar[1],ar[3],ar[5]

(2, 4, 6)

In [151]:
ar=np.array([[1,2,3],[7,8,9],[4,5,6]])
ar

array([[1, 2, 3],
       [7, 8, 9],
       [4, 5, 6]])

In [155]:
ar[2][1]

5

In [157]:
ar[1,2]

9

In [159]:
#3d array
ar=np.array([[[4,5,6],[1,2,3]],[[5,5,5],[6,7,8]]])
ar[1][1][1]

7

In [163]:
ar[0,1,1]

2

Now lets focus on different type of indexing known as **Boolean Indexing**

In [166]:
ar[ar==5]

array([5, 5, 5, 5])

In [168]:
ar[ar>5]

array([6, 6, 7, 8])

So we can write boolean expression inside array to perform indexing the ndarray will adjust accordingly and give results

## Transposind and reshaping array
1. Transpose
2. Reshape
3. swap axes

In [173]:
ar.T

array([[[4, 5],
        [1, 6]],

       [[5, 5],
        [2, 7]],

       [[6, 5],
        [3, 8]]])

In [185]:
ar.swapaxes(0,1)

array([[[4, 5, 6],
        [5, 5, 5]],

       [[1, 2, 3],
        [6, 7, 8]]])

In [189]:
ar.reshape(6,2)

array([[4, 5],
       [6, 1],
       [2, 3],
       [5, 5],
       [5, 6],
       [7, 8]])

## Using Numpy package functions and modules to perform calculations

In [196]:
print(ar.mean(),
ar.std()
,ar.var())

4.75 1.920286436967152 3.6875

There are other statistical operation that we can perform on numpy array

There are many packages in numpy to perform operations one of them is `np.linalg` that can be used to perform linear algebra operations

In [202]:
np.linalg.norm(ar)

17.74823934929885

So we conclude our discussion on numpy array .